.container{
    width: 220px;
    border-radius: 15px;
    background-color: #dedede;
    height: fit-content;
}
.container-header{
    border-radius: 15px 15px 0px 0px;
    padding: 0px 10px;
    display: flex;
    height: 40px;
    background-color: red;
    justify-content: space-between;
    align-items: center;
}
.container-content{
    max-height: 70vh;
    padding: 8px 5px;
    overflow: auto;
    padding-right: 4px;
}
.addTask{
    color: rgb(0, 153, 255);
    border-radius: 0px 0px 15px 15px;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
